@import "../variables.module.scss";

.loginStepForm {
  .steps {
    margin-bottom: 3rem;

    @media (max-width: 768px) {
      //mobile device
      overflow-x: scroll;
    }
  }
}
.stepContainer {
  .stepHeading {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
  }

  p.stepDescription {
    color: $grey-color;
    font-size: 16px;
    text-align: center;
    margin-bottom: 3rem;
  }
  p.registerPara {
    text-align: center;
    font-size: 14 !important;
    font-weight: 500 !important;
    a {
      color: $primary-color;
    }
  }

  .loginInitiateForm {
    .formItem {
      label {
        font-size: 18px;
        font-weight: 400;
      }
      .input {
        height: 48px;
      }
    }

    .button {
      font-size: 20px !important;
      font-weight: 600 !important;
    }
    .linkTextForgetPwd {
      font-weight: 500 !important;
      font-size: 14 !important;
    }
  }
  .button {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .verifyForm {
    .otpInput {
      input {
        min-height: 69px !important;
        width: 69px !important;
        border-radius: 8px !important;
      }
    }

    .changeEmailLink {
      color: $primary-color;
    }
    .resendBtn {
      color: $primary-color;
    }
  }
}
