@import "../variables.module.scss";

.loginStepForm {
  .steps {
    margin-bottom: 3rem;

    @media (max-width: 768px) {
      //mobile device
      overflow-x: scroll;
    }
  }
}
.stepContainer {
  .stepHeading {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
  }

  p.stepDescription {
    color: $grey-color;
    font-size: 16px;
    text-align: center;
    margin-bottom: 3rem;
  }
  p.registerPara {
    text-align: center;

    a {
      color: $primary-color;
    }
  }
  .verifyForm {
    .otpInput {
      input {
        min-height: 69px !important;
        width: 69px !important;
        border-radius: 8px !important;
      }
    }

    .changeEmailLink {
      color: $primary-color;
    }
    .resendBtn {
      color: $primary-color;
    }
  }
}
