.reservations {
    padding: 20px;
    background: #fff;
  
    
  p{
    color: #000;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;
margin-bottom: 30px;
  }
    .ant-tabs {
      .ant-tabs-nav {
        margin-bottom: 16px;
      }
    }
  
    .tabContent {
        color: #655F5F;
        text-align: center;
        font-size: 18.465px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        min-height: 50vh;
    }
  }
  