@import "./variables.module.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  min-height: 65px !important;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a.primary-link {
  color: $primary-color;
}

.mb-small {
  margin-bottom: 1rem !important;
}

.mb-middle {
  margin-bottom: 2rem !important;
}
.mb-large {
  margin-bottom: 3rem !important;
}
.mb-ex-large {
  margin-bottom: 6rem !important;
}

// Antd input scss
.ant-input,
.ant-input-affix-wrapper {
  height: 48px !important;
  border-radius: 50px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.ant-otp {
  width: 100%;
  justify-content: center;
}
.ant-switch {
  min-height: auto !important;
}

// Antd select scss
.ant-select {
  height: 48px !important;
  min-height: 48px !important;
}
.ant-select-selector {
  border-radius: 50px !important;
}
.ant-select-selection-wrap {
  align-self: center !important;
}
.ant-btn.ant-btn-link.ant-btn-color-primary.ant-btn-variant-link.Mainheader_loginButton__XgR4v {
  color: var(--black, #010000);
}

.ant-select-selection-placeholder {
  margin-left: 20px !important;
}
.ant-picker-ok {
  button {
    min-height: 20px !important;
  }
}

// leaflet
.leaflet-geosearch-bar {
  button {
    min-height: 30px !important;
  }
}
.react-calendar {
  background: var(--orange, #e73725) !important;
  color: var(--white, #fff) !important;
  font-family: Poppins;
  width: 400px;
  border: none !important;
}

.react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .react-calendar__navigation__label {
    color: var(--white, #fff);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 133.333% */
    transition: color 0.3s ease; /* Optional smooth transition */
  }

  .react-calendar__navigation__label:hover {
    color: inherit; /* Remove color change on hover */
  }

  .react-calendar__navigation__arrow {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer !important;
  }

  .react-calendar__navigation__arrow:hover {
    background-color: transparent !important; /* Ensure no background color on hover */
  }

  .react-calendar__navigation__next2-button,
  .react-calendar__navigation__prev2-button {
    display: none;
  }
}

.react-calendar__tile.react-calendar__month-view__days__day--weekend,
.react-calendar__tile.react-calendar__month-view__days__day--neighboringMonth {
  color: var(
    --white,
    #fff
  ); /* White text color for weekend and neighboring month days */
}

.react-calendar__tile.react-calendar__tile--now,
.react-calendar__tile.react-calendar__tile--active,
.react-calendar__tile.react-calendar__tile--range,
.react-calendar__tile.react-calendar__tile--rangeStart,
.react-calendar__tile.react-calendar__tile--rangeEnd,
.react-calendar__tile.react-calendar__tile--rangeBothEnds {
  background-color: #ffff !important; /* Set background to white */
  border-radius: 150px !important; /* Apply border-radius */
  border: 1px solid #b0b0b0; /* Add border with a light gray color */
  color: #000 !important;
}

.react-calendar__tile:hover {
  background-color: #ffff !important; /* Set background to white on hover */
  color: #000 !important; /* Set text color to black on hover */
  border: 1px solid #b0b0b0;
  border-radius: 150px !important; /* Apply border-radius */
}

.react-calendar__tile {
  /* Any other tile customizations can go here */
}
.ant-card-head {
  color: white !important; /* Force text color to white */
  background: transparent !important; /* Ensure background is transparent */
  border-bottom: 1px solid #f0f0f0 !important; /* Border stays the same (or change as needed) */
}

// React chart
.small-btn {
  min-height: 30px !important;
}

.ant-picker-date-panel {
  border: none;
  border-top: none !important;
  .ant-picker-body {
    table {
      thead {
        tr {
          th {
            color: white;
          }
        }
      }
      tbody {
        tr {
          td.ant-picker-cell-in-view {
            .ant-picker-cell-inner {
              padding: 15px !important;
              min-height: 39px !important;
              min-width: 27px !important;

              .ant-picker-calendar-date-value {
                border-radius: 50px;
                width: 28px !important;
                height: 28px !important;
                color: white;
              }
            }
          }
          td.ant-picker-cell-selected {
            .ant-picker-cell-inner {
              padding: 15px !important;
              min-height: 39px !important;
              min-width: 27px !important;

              &::before {
                border: none !important;
              }

              .ant-picker-calendar-date-value {
                background-color: white !important;
                border-radius: 50px;
                width: 28px !important;
                height: 28px !important;
                color: black !important;
              }
            }
          }
        }
      }
    }
  }
}
