@import "./variables.module.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  min-height: 65px !important;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a.primary-link {
  color: $primary-color;
}

.mb-small {
  margin-bottom: 1rem !important;
}

.mb-middle {
  margin-bottom: 2rem !important;
}
.mb-large {
  margin-bottom: 3rem !important;
}
.mb-ex-large {
  margin-bottom: 6rem !important;
}

// Antd input scss
.ant-input,
.ant-input-affix-wrapper {
  height: 48px !important;
  border-radius: 50px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.ant-otp {
  width: 100%;
  justify-content: center;
}
.ant-switch {
  min-height: auto !important;
}

// Antd select scss
.ant-select {
  height: 48px !important;
  min-height: 48px !important;
}
.ant-select-selector {
  border-radius: 50px !important;
}
.ant-select-selection-wrap {
  align-self: center !important;
}

.ant-select-selection-placeholder {
  margin-left: 20px !important;
}
.ant-picker-ok {
  button {
    min-height: 20px !important;
  }
}

// leaflet
.leaflet-geosearch-bar {
  button {
    min-height: 30px !important;
  }
}

// React chart
.small-btn {
  min-height: 30px !important;
}
